{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    <a href="{{ path('app_category_add') }}">Ajouter une catégorie</a><br/><br/>
    <div class="count">
        Total : {{ pagination.getTotalItemCount }}
    </div>
    
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Id', 'c.id') }}</th>
            <th{% if pagination.isSorted('c.name') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}
            </th>
        </tr>

        {# table body #}
        {% for category in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ category.id }}</td>
                <td><a href="{{ path('app_category_show', {id: category.id}) }}">{{ category.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
